@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');



:root{
  --light-lavender:hsl(240, 67%, 94%);
  --k-blue:hsl(202, 81%, 32%);
  --light-k-blue:hsl(202, 61%, 44%);
}

*{
  margin: 0;
  padding: 0;
}

#gfk_overlay{
  font-family: Ysabeau;
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 2;
  
  
}
#gfk_overlay button,#gfk_overlay textarea {
  font-family: Ysabeau; 
}

#gfr_main_div{
  display: flex;
    box-shadow: 2px 2px 10px black;
    /* height: 70%; */
    flex-direction: column;
    background-color: var(--light-lavender);
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 2rem;
    /* max-height: max-content; */
}


#close_gfr_main_div{
  user-select: none;
  color: white;
  position: absolute;
  z-index: 3;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#close_gfr_main_div span{
  font-size: 4rem;
  transition: 0.2s ease;
}
#close_gfr_main_div span:hover{
  transform: scale(1.2);
}
#close_gfr_main_div span:active{
  transform: scale(0.9);

}

.rating_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.stars{
  user-select: none;

}
.stars i {
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: color 0.2s ease;
}
.stars i.selected {
  color: var(--k-blue);
}




.multiple_questions_div{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-gap: 1rem;
  padding: 1rem;

}

.each_rating_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 0.4rem;   */
}

.rating_question_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  
}
.rating_questions{
  text-align: center;
  margin: 0;
}



.overall_rating_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.overall_rating_text{
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}
.overall_rating_div .stars i{
  font-size: 20px;
}


.dividing_line_gfr{
  width: 30%;
  border-top: 1px solid grey;
  opacity: 0.2;
}





.feedback_section{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.feedback_text_div{
  display: flex;
  justify-content: center;
}
.feedback_question{
}

.feedback_input_div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#gfr_feedback_ch_counter{
  user-select: none;

}


#feedback_area{
    display: flex;
    resize: none;
    outline: none;
    width: 90%;
    border-radius: 1rem;
    padding: 1rem;
}


.submit_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.gfr_submit_button{
  padding: 1rem;
  /* background-color: var(--k-blue); */
  background: rgb(16,99,148);
background: linear-gradient(323deg, rgb(2, 87, 136) 0%, rgb(48, 130, 177) 100%);
color: white;
border-radius: 1rem;
border: none;
cursor: pointer;
transition: 0.3s ease;
font-weight: 700;
user-select: none;
border: 2px var(--light-lavender)  solid;
}
.gfr_submit_button:active{
  transform: scale(0.8);
  background: rgb(16,99,148);
  background: linear-gradient(323deg, rgb(17, 109, 162) 0%, rgb(121, 206, 255) 100%);
}

.powered_by_div{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -25px;
  user-select: none;

} 
.powered_by_text{
  opacity: 0.8;
font-size: 10px;
}