@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');


*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


/* PROJECT VARIABLES */


@font-face {
  font-family: "kagitingan";
  src: url("../assets/fonts/Kagitingan-Bold.otf")
}

:root{
    /* COLORS */
  --light-lavender:hsl(240, 67%, 94%);
  --k-blue:hsl(202, 81%, 32%);


    /* TYPOGRAPHY */



    /* SIZING  */

  }
  
/* ELEMENTS DEFAULT STYLING */
.general_links{
  text-decoration: underline;
  color: var(--light-lavender);
  font-family: Ysabeau;
  font-weight: 700;
  letter-spacing: 0.05rem;
}


.basic_flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}