@import './base.css';


body{
    /* background-color: var(--light-lavender); */
    /* background-color: var(--lavender); */
    background-color: var(--light-lavender);
    color: var(--k-blue);
    display: flex;
    flex-direction: column;
}